[build]
  base = "e-auction-platform/frontend-eauction"
  publish = "e-auction-platform/frontend-eauction/build"
  command = "npm install && npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"
